<html lang="en">
<body>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script>

    <div hx-get="/images/" hx-trigger="load">
    </div>

    <div hx-ext="response-targets">
        <form hx-encoding='multipart/form-data' hx-post='/images/' _='on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100' hx-target-error='#form-error' hx-swap="innerHTML">
            <input type='file' name='file'>
            <button>
                Upload
            </button>
            <progress id='progress' value='0' max='100'></progress>
        </form>
        <div id="form-error" hx-swap-oob="true"></div>
    </div>
</body>
</html>
